* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  align-items: center;
}

body {
  font-family: sans-serif;
}

main {
  width: 90%;
  max-width: 200px;
  margin: 32px auto;
}

club-list {
  display: block;
  margin-top: 32px;
  width: 50%;
  padding: 16px;
}